aiohappyeyeballs
aiohttp
aiosignal
anyio
async-timeout
attrs
beautifulsoup4
cachetools
certifi
charset-normalizer
colorama
discord.py
dnspython
exceptiongroup
frozenlist
google-api-core
googleapis-common-protos
google-auth
google-cloud-core
google-cloud-translate
grpc-google-iam-v1
grpcio
grpcio-status
h11
html2text
httpcore
idna
jsonschema
jsonschema-specifications
motor
multidict
propcache
protobuf
proto-plus
psutil
pyasn1_modules
pyasn1
pycountry
pymongo
python-dotenv
pytz
referencing
requests
rpds-py
rsa
sentry-sdk
sniffio
soupsieve
typing_extensions
urllib3
wcwidth
yarl
